<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EAA -->
      <package
            uri="EAA"
            class="EAA.EAAPackage"
            genModel="model/EAA.genmodel"/>
   </extension>

</plugin>
